@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 100vh;
  background: rgb(214, 108, 63);
  background: radial-gradient(
    circle,
    rgba(214, 108, 63, 1) 44%,
    rgba(190, 91, 48, 0.8533613274411327) 63%
  );
  background-repeat: no-repeat;
}
.complete {
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(211, 188, 74, 0.8701680501302084) 85%,
    rgba(253, 187, 45, 0.08025208374365367) 100%
  );
}
